---
import { Icon } from "astro-icon";
---

<footer>
    <div>
        <div class="footer-links">
            <a href="#Home">Inicio</a>
            <a href="#About-us">Nosotros</a>
            <a href="#Services">Especialidades</a>
            <a href="#Contact">Contacto</a>
        </div>
        <div class="contact-info">
            <p><Icon name="mdi:map-marker" /> <span class="bold">Iquique y Alto Hospicio,</span> Región de Tarapacá, Chile.</p>
            <p><Icon name="mdi:phone" /> Teléfono: <a href="tel:56952365795" class="bold">+56 9 5236 5795</a></p>
            <p><Icon name="mdi:email" /> Correo electrónico: <a href="mailto: estudiojuridicomichelcampilay@gmail.com" class="bold">estudiojuridicomichelcampilay@gmail.com</a></p>
        </div>
    </div>
</footer>

<style>
    /* Footer */
    footer {
        width: 100%;
        background-color: hsl(var(--main-dark));
        padding-block-start: 5rem;
        padding-block-end: 2.5rem;
    }

    footer > div {
        display: flex;
        justify-content: center;
        gap: 3em;
        flex-wrap: wrap;

        width: 100%;
        max-width: 1100px;
        margin-inline: auto;
        padding: var(--padding);
        background-color: hsl(var(--main-dark));
        border-top: 1px solid hsl(var(--border-clr), 20%);
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 150px;
        padding-bottom: .5em;
        border-bottom: 1px solid hsl(var(--border-clr), 20%);
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding-bottom: .5em;
        border-bottom: 1px solid hsl(var(--border-clr), 20%);
    }

    .contact-info p {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .25rem;
        margin: 0;
        color: hsl(var(--nav-link), 50%);
    }

    .contact-info p svg {
        width: 20px;
        aspect-ratio: 1;
        position: relative;
    }

    .contact-info p .bold {
        color: hsl(var(--white)) !important;
    }

    .footer-links a {
        color: hsl(var(--nav-link), 50%);
        font-size: calc(var(--font) - 0.1rem);
        text-decoration: none;
        text-transform: uppercase;
    }

    .footer-links a:hover {
        color: hsl(var(--nav-link));
    }

    .footer-aside {
        gap: .25em;
        flex-wrap: wrap;
        margin-inline-start: auto;
    }

    .footer-aside h3 {
        width: 100%;
        font-size: 1.25rem;
        margin: 0;
        text-align: center;
    }

    .footer-aside .social-media > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
    }

    .social-media a {
        color: hsl(var(--text));
        text-decoration: none;
        font-size: 1.75rem;
    }

    .social-media a:hover {
        scale: .95;
        opacity: .5;
    }

    .social-media svg {
        width: 2rem;
    }

    @media only screen and (max-width: 880px) {
        footer {
            padding-block-start: 2.5rem;
        }

        footer > div {
            height: 100%;
            gap: 1.5em;
        }

        .footer-links, .contact-info {
            width: 100%;
            text-align: center;
        }

        .footer-links, .contact-info p {
            justify-content: center;
            gap: .25rem;
        }

        .footer-links, .contact-info p a {
            /* margin-block-start: .5rem; */
            width: 100%;
        }
    }
</style>