---
// astro import
import { Icon } from 'astro-icon';
---

<section id="About-us">
    <div>
        <h3 class="important-contrast">Nosotros</h3>
        <h2>¿Quienes Somos?</h2>
        <div class="wrapper">
            <div class="about-us">
                <picture>
                    <source media="(min-width: 700px)" srcset="/img/logo/logo-name.webp 450w" />
                    <source media="(max-width: 699px)" srcset="/img/logo/logo-name.webp 800w" />
                    <img loading="lazy" src="/img/logo/logo-name.webp" alt="Lorem picsum" style="max-width: 100%;">
                </picture>
                <div>
                    <h3><Icon class="about-us-icon" name="mdi:scale-balance" /> Estudio jurídico</h3>
                    <p>Somos un estudio jurídico de abogados profesionales y comprometidos con la misión de brindar soluciones legales de calidad para proteger tus intereses. Ubicados en Iquique y Alto Hospicio, Región de Tarápaca.</p>
                    <p>Nuestro Estudio Jurídico está liderado por Michel Campillay Rondón, abogado titulado por la PUCV, <b class="important-contrast">especializado en derecho comercial y civil</b>. Con amplia experiencia en representar tanto a individuos como empresas.</p>
                    <h4>Nuestros servicios jurídicos:</h4>
                    <ul>
                        <li>Representación judicial</li>
                        <li>Redacción de escrituras públicas y contratos</li>
                        <li>Asesoría legal general</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3 class="important-contrast">Propuestas</h3>
        <h2>Nuestros pilares fundamentales</h2>
        <div class="about-us-wrapper">
            <div class="proposal fade">
                <span class="icon"><Icon class="proposal-icon" name="mdi:crown" /></span>
                <h3 class="title">Calidad</h3>
                <p class="description">Nuestro capacitado equipo de abogados se dedica a obtener los <b class="important-contrast">mejores resultados</b> para nuestros clientes. Confía en nosotros para representarte en tus asuntos legales.</p>
            </div>
            <div class="proposal fade">
                <span class="icon"><Icon class="proposal-icon" name="mdi:weather-windy" /></span>
                <h3 class="title">Rapidez</h3>
                <p class="description">Entendemos que <b class="important-contrast">el tiempo es crucial</b> en muchas situaciones legales, por lo que trabajamos diligentemente para resolver los casos de manera oportuna sin comprometer la calidad de nuestra representación.</p>
            </div>
            <div class="proposal fade">
                <span class="icon"><Icon class="proposal-icon" name="mdi:hand-extended" /></span>
                <h3 class="title">Disposición</h3>
                <p class="description">Estamos comprometidos a escuchar tus inquietudes y necesidades empresariales, ofreciendo asesoramiento comprensivo y accesible, para generar un ambiente en el que te sientas <b class="important-contrast">respaldado y orientado</b> en cada paso del proceso legal.</p>
            </div>
        </div>
    </div>
</section>

<style>
    .main-picture {
        max-width: 100%;
    }

    .about-us-icon {
        display: inline;
        width: 1.5rem;
        aspect-ratio: 1;
        position: relative;
        top: 3px;
        color: hsl(var(--important-contrast))
    }

    .proposal-icon {
        display: block;
        width: 2rem;
        aspect-ratio: 1;
        color: hsl(var(--white));
    }

    #About-us {
        background-color: hsl(var(--main-dark));
    }

    #About-us > div:first-child {
        margin-block-end: 5rem;
    }

    #About-us > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        filter: hue-rotate();


        width: 100%;
        max-width: 1100px;
        margin-inline: auto;
        padding: var(--padding);
    }

    #About-us > div > h3 {
        margin: 0;
        font-size: .875rem;
        color: hsl(var(--important));    

        text-align: center;
    }

    #About-us > div > h2 {
        font-size: 3rem;
        margin-block-start: 0;
        
        text-align: center;
    }

    .wrapper {
        display: flex;
    }

    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        max-height: min-content;
    }

    img {
        border-radius: .25rem;
    }

    .about-us h3 {
        margin: 0;
    }

    @media only screen and (max-width: 699px) {
        .about-us {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
    }

    .about-us-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
        gap: var(--padding);
        justify-items: center;
    }

    @media only screen and (max-width: 864px) {
        .about-us-wrapper .proposal:nth-of-type(3) {
            grid-column: 1 / 2 span;
        }
    }

    @media only screen and (max-width: 595px) {
        .about-us-wrapper .proposal:nth-of-type(3) {
            grid-column: 1 / 1;
        }
    }

    .proposal {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 18rem;

        padding: var(--padding);
        border-radius: var(--radius-accent);
        line-height: 1.6;
    }

    .proposal:is(:hover, :focus-visible) {
        background-color: hsl(var(--white), 2%);
    }

    .icon {
        display: grid;
        place-items: center;
        justify-content: center;

        width: calc(var(--padding) + 0.75rem);
        height: calc(var(--padding) + 0.75rem);

        padding: calc(var(--padding) + .75rem);
        background-color: hsl(var(--important));
        border-radius: 50%;
    }

    .title {
        text-align: center;
    }
</style>