---
import { Icon } from "astro-icon";
---

<div class="divider">
    <div class="custom-shape-divider-bottom-1681399354">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<section id="Contact">
    <div class="wrapper">
        <form action="https://formsubmit.co/estudiojuridicomichelcampillay@gmail.com" method="POST">
            <div class="form-information">
                <h3>Contacto</h3>
                <hr>
                <p>Estamos preparados para brindarte la asistencia que su empresa necesita. ¡No dudes en ponerte en contacto con nuestros abogados!</p>
                <p><Icon class="icon" name="mdi:phone" /> Un abogado te contactará por <b><Icon class="icon" name="mdi:whatsapp" /> WhatsApp</b> o <b><Icon class="icon" name="mdi:email" /> Email</b>.</p>
            </div>
            <div class="form-wrapper">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" name="Nombre" placeholder="Michel Campillay" autocomplete="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="Email" placeholder="estudiojuridicomichelcampilay@gmail.com" autocomplete="email">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input id="telefono" type="text" name="Telefono" placeholder="+56 9 5236 5795" autocomplete="tel">
                </div>
                <div class="form-group">
                    <label for="descripción">Descripcion</label>
                    <textarea name="Descripcion" id="descripcion" cols="30" rows="7" placeholder="Buenas tardes, me gustaria conversar con un abogado de su Estudio Jurídico respecto de mi situación o un caso específico de mi empresa en Iquique y Alto Hospicio."></textarea>
                </div>
                <button class="submit-button" type="submit" aria-label="Enviar formulario">
                    <span>
                        <Icon class="icon email-closed" name="mdi:email" />
                        <Icon class="icon email-opened" name="mdi:email-open" />
                    </span>
                </button>
            </div>
        </form>
    </div>
</section>

<h4 class="sr-only">Estudio Jurídico Michel Campillay</h4>
<h5 class="sr-only">Abogados corporativos para empresas en Iquique y Alto Hospicio</h5>
<h6 class="sr-only">¡Muchas gracias por visitarnos!</h6>

<style>
    .icon {
        width: 16px;
        aspect-ratio: 1;
        position: relative;
        top: 3px;
    }

    .custom-shape-divider-bottom-1681399354 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1681399354 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }

    .custom-shape-divider-bottom-1681399354 .shape-fill {
        fill: hsl(var(--main-dark));
    }

    /* Contact */
    #Contact {
        background-color: hsl(var(--main-dark));
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        margin-inline: auto;
        max-width: 1100px;
        max-height: fit-content;
        padding: var(--padding);
    }

    .wrapper > * {
        flex: 1 0 0;
        min-width: min(300px, 100%);
    }

    .wrapper > * {
       
    }

    #Contact form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        max-width: 700px;
        margin: 1em auto;
        padding: 3rem 1rem;
        
        border: 1px solid hsl(var(--border-clr), 20%);
        border-top: 5px solid hsl(var(--important));
        border-bottom: 5px solid hsl(var(--important));
        border-radius: var(--radius-accent);
    }

    #Contact form .form-information {
        width: 100%;
        max-width: 600px;
    }

    #Contact form .form-information h3 {
        margin: 0;
    }

    #Contact form .form-information p:nth-of-type(1) {
        margin: 0;
    }

    #Contact form .form-information p:nth-of-type(2) {
        color: gray;
        font-size: .9rem;
        margin-top: 0;
    }

    #Contact form .form-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        gap: .75em;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: .25em;
        font-size: 1.5rem;
    }

    .form-group input {
        flex: 1 0 4ch;

        padding-inline-start: .5em;

        color: hsl(var(--text-contrast));
        border: none;
        border-radius: var(--radius);
        font-family: inherit;
    }

    .form-group textarea {
        resize: none;
        padding-block-start: .5em;
        padding-inline: .5em;
        color: hsl(var(--text-contrast));
        border: none;
        border-radius: var(--radius);
        font-family: inherit;
        font-size: .875rem;
    }

    .form-group input:is(:focus, :focus-within),
    .form-group textarea:is(:focus, :focus-within) {
        outline: 3px solid hsl(var(--important));
        outline-offset: 0;
    }

    .submit-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 56px;
        height: 56px;

        padding: var(--padding);
        margin: 2rem auto 0;

        color: hsl(var(--text));
        background-color: hsl(var(--important));
        border: 0;
        border-radius: 50%;
        
        font-size: 1.75rem;
        overflow: hidden;
    }

    .submit-button .icon {
        width: 36px;
        position: static;
    }

    .submit-button span {
        display: flex;
    }

    .submit-button .email-opened {
        display: none;
    }

    .submit-button:is(:hover, :focus, :focus-within) .email-opened {
        display: block;
    }

    .submit-button:is(:hover, :focus, :focus-within) .email-closed {
        display: none;
    }

    .submit-button:is(:active) {
        scale: .9;
    }

    .submit-button:is(:active) .email-opened {
        transform: translateX(200%);
        transition: 200ms ease-in;
    }

    @media only screen and (max-width: 760px) {
        #Contact > * {
            flex: 1 0 100%;
        }
    }
</style>