<div class="divider">
  <div class="custom-shape-divider-top-1682232868">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none">
      <path
        d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</div>

<section id="Services">
  <div>
    <h3>Especialidades</h3>
    <h2>Nuestros enfoques legales</h2>
    <div class="list-of-services">
      <article class="card">
        <div class="card-inner">
          <div class="front">
            <img
            class="card-img"
              src="/img/civil.jpg"
              alt=""
            />
            <div class="name-of-service">
              <h3>Derecho Civil</h3>
            </div>
          </div>
        </div>
      </article>
      <article class="card">
        <div class="card-inner">
          <div class="front">
            <img
            class="card-img"
              src="/img/comercial.jpg"
              alt=""
            />
            <div class="name-of-service">
              <h3>Derecho Comercial</h3>
            </div>
          </div>
        </div>
      </article>
      <article class="card">
        <div class="card-inner">
          <div class="front">
            <img
            class="card-img"
              src="/img/pesquero.png"
              alt=""
            />
            <div class="name-of-service">
              <h3>Derecho Pesquero</h3>
            </div>
          </div>
        </div>
      </article>
      <article class="card">
        <div class="card-inner">
          <div class="front">
            <img
            class="card-img"
              src="/img/urbanistico.jpg"
              alt=""
            />
            <div class="name-of-service">
              <h3>Derecho Urbanístico</h3>
            </div>
          </div>
        </div>
      </article>
      <article class="card">
        <div class="card-inner">
          <div class="front">
            <img
            class="card-img"
              src="/img/laboral.jpg"
              alt=""
            />
            <div class="name-of-service">
              <h3>Derecho Laboral</h3>
            </div>
          </div>
        </div>
      </article>
      <article class="card">
        <div class="card-inner">
          <div class="front">
            <img
            class="card-img"
              src="/img/tributario.jpeg"
              alt=""
              data-image="tributario"
            />
            <div class="name-of-service">
              <h3>Derecho Tributario</h3>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<style lang="scss">
  h2 {
    display: flex;
    justify-content: center;

    position: relative;
    color: hsl(var(--main-dark), 90%);
  }

  /* SVG */
  .custom-shape-divider-top-1682232868 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1682232868 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
  }

  .custom-shape-divider-top-1682232868 .shape-fill {
    fill: hsl(var(--main-dark));
  }

  /* Services */
  #Services {
    background-color: hsl(var(--white));

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 100%;
      max-width: 1100px;
      margin-inline: auto;
      padding: var(--padding);

      & > h2 {
        font-size: 3rem;
        margin-block-start: 0;
        margin-block-end: 4rem;

        text-align: center;
      }

      & > h3 {
        margin: 0;
        font-size: 0.875rem;
        color: hsl(var(--important));

        text-align: center;
      }
    }
  }
  .list-of-services {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(300px, 100%), 1fr)
    );
    gap: 2rem;

    .card {
      width: 100%;
      border-radius: .25rem;
      position: relative;

      &:is(:hover) {
        opacity: .95;
      }

      .card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: .25rem;

            box-shadow: 2px 2px 10px hsl(var(--main-dark), .8);

            .front {
                border-radius: 0.25rem;
                overflow: hidden;

                h3 {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: 1.5rem;
                    }
            }

            .front {
                .card-img {
                    display: block;
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: 0.25rem;
                    z-index: 1;
                }

                .name-of-service {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    width: 100%;
                    padding: 0.5rem 0;

                    background-color: hsl(var(--main-dark), 0.7);
                    text-align: center;
                    z-index: 2;

                    backdrop-filter: blur(2px);
                }
            }
        }
    }
  }

  [data-image="tributario"] {
    object-fit: cover;
    object-position: 0% 75%;
  }
</style>
