<section id="Testimonials">
    <div>
        <h3>Testimonios</h3>
        <h2>Nuestros clientes han hablado</h2>
        <ul>
            <li>
                <div class="testimonial fade-in">
                    <div class="testimonial-img">
                        <img class="zoom-150" src="https://images.unsplash.com/photo-1622020920816-cd528763211a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=408&q=80" alt="Lorem picture">
                    </div>
                    <cite>Este abogado es un verdadero profesional. <b class="important-contrast">Obtuvo un resultado favorable para mí</b> y siempre estuvo disponible.</cite>
                    <h3><i class="fa-solid fa-user"></i> Daniel Rodriguez</h3>
                    <h4>Director de RR.HH, Santander</h4>
                    <i class="fa-solid fa-quote-right" aria-hidden="true"></i>
                </div>
            </li>
            <li>
                <div class="testimonial fade-in">
                    <div class="testimonial-img">
                        <img class="zoom-150" src="https://images.unsplash.com/photo-1577394580379-0b59ce5e1f01?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="Lorem picture">
                    </div>
                    <cite>Un experto en su campo. Su conocimiento y experiencia son impresionantes. <b class="important-contrast">Me sentí seguro durante todo el proceso</b>.</cite>
                    <h3><i class="fa-solid fa-user"></i> Juan Carlos Perez</h3>
                    <h4>Gerente de Operaciones, Codelco</h4>
                    <i class="fa-solid fa-quote-right" aria-hidden="true"></i>
                </div>
            </li>
            <li>
                <div class="testimonial fade-in">
                    <div class="testimonial-img">
                        <img src="https://images.unsplash.com/photo-1574701148212-8518049c7b2c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=386&q=80" alt="Lorem picture">
                    </div>
                    <cite>No puedo recomendarlo lo suficiente. Si buscas a alguien que te represente con integridad y habilidad, <b class="important-contrast">este abogado es la mejor opción</b>.</cite>
                    <h3><i class="fa-solid fa-user"></i> Maria Fernanda Lopez</h3>
                    <h4>Directora de Marketing, Falabella</h4>
                    <i class="fa-solid fa-quote-right" aria-hidden="true"></i>
                </div>
            </li>            
        </ul>
        <h3>Afiliados</h3>
        <h2>Grandes marcas con las que he trabajado</h2>
        <div id="Affiliates">
            <div class="box">
                <a href="www.google.com" aria-label="Expanded link"></a>
                <div class="box-img">
                    <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png" alt="Lorem picsum"></div>
                <p>BMW</p>
            </div>
            <div class="box">
                <a href="www.google.com" aria-label="Expanded link"></a>
                <div class="box-img">
                    <img loading="lazy" src="https://images.unsplash.com/photo-1496200186974-4293800e2c20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80" alt="Lorem picsum"></div>
                <p>Slack</p>
            </div>
            <div class="box">
                <a href="www.google.com" aria-label="Expanded link"></a>
                <div class="box-img">
                    <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="Lorem picsum"></div>
                <p>YouTube</p>
            </div>
            <div class="box">
                <a href="www.google.com" aria-label="Expanded link"></a>
                <div class="box-img">
                    <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/en/6/66/Chocapic_brand_logo.png" alt="Lorem picsum"></div>
                <p>Chocapic</p>
            </div>
            <div class="box">
                <a href="www.google.com" aria-label="Expanded link"></a>
                <div class="box-img">
                    <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/800px-Google_2015_logo.svg.png" alt="Lorem picsum"></div>
                <p>Google</p>
            </div>
            <div class="box">
                <a href="www.google.com" aria-label="Expanded link"></a>
                <div class="box-img">
                    <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Intel_logo_%282006-2020%29.svg/1005px-Intel_logo_%282006-2020%29.svg.png" alt="Lorem picsum"></div>
                <p>Intel</p>
            </div>
        </div>
    </div>
</section>

<style>
    h2 {
        display: flex;
        justify-content: center;

        position: relative;
        color: hsl(var(--main-dark), 90%);
    }

    /* SVG */
    .custom-shape-divider-top-1682232868 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1682232868 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 125px;
    }

    .custom-shape-divider-top-1682232868 .shape-fill {
        fill: hsl(var(--main-dark));
    }

    /* Testimonials */
    #Testimonials {
        background-color: hsl(var(--white));
    }

    #Testimonials > div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        max-width: 1100px;
        margin-inline: auto;
        padding: var(--padding);
    }

    #Testimonials >  div > h2 {
        font-size: 3rem;
        margin-block-start: 0;
        margin-block-end: 4rem;
        
        text-align: center;
    }

    #Testimonials > div > h3 {
        margin: 0;
        font-size: .875rem;
        color: hsl(var(--important));    

        text-align: center;
    }

    #Testimonials > div > ul {
        margin-block-end: 5rem;
    }

    #Testimonials ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(325px, 100%), 1fr));
        gap: 2rem;

        background-color: hsl(var(--white));
    }

    #Testimonials li {
        display: flex;
        flex-direction: column;

        padding: 0;
        background-color: hsl(var(--white));
    }

    h4, h5 {
        margin: 0;
    }

    @media only screen and (max-width: 1070px) {
        #Testimonials ul {
            gap: 5rem;
        }
    }

    .testimonial {
        --position: .5rem;
        --size: 2rem;

        flex-grow: 1;

        display: flex;
        flex-direction: column;

        padding: calc(var(--padding) * 3) calc(var(--padding) * 2) calc(var(--padding) * 2);
        background-color: hsl(var(--main-dark));
        border-radius: var(--radius-accent);

        margin-block-end: 4rem;
        
        box-shadow: 3px 5px 20px hsl(var(--main-dark), 65%);
    
        position: relative;
    }

    .testimonial::before,
    .testimonial::after {
        content: '';
        position: absolute;

        width: var(--size);
        height: var(--size);

        transition: all 400ms ease;
    }

    .testimonial::before {
        top: var(--position);
        right: var(--position);

        border-top: calc(var(--padding) - .75rem) solid hsl(var(--important));
        border-right: calc(var(--padding) - .75rem) solid hsl(var(--important));
        border-radius: 0 var(--radius-accent) 0 0;
    }

    .testimonial::after {
        left: var(--position);
        bottom: var(--position);

        border-left: calc(var(--padding) - .75rem) solid hsl(var(--important));
        border-bottom: calc(var(--padding) - .75rem) solid hsl(var(--important));
        border-radius: 0 0 0 var(--radius-accent);
    }

    li:is(:hover, :focus-visible) .testimonial::before,
    li:is(:hover, :focus-visible) .testimonial::after {
        --position: 2rem;
    }

    li:is(:hover, :focus-visible) .testimonial {
        background-color: hsl(var(--main-dark), 97%);
        transition: all 1000ms ease;
    }

    li:is(:hover, :focus-visible) .testimonial-img {
        border: .2rem solid hsl(var(--main-dark), 93%);
    }

    .testimonial-img {
        position: absolute;
        top: 0rem;
        left: 4rem;
        transform: translate(-50%, -50%);
        border: .2rem solid hsl(var(--main-dark));
        border-radius: .25rem;
        overflow: hidden;
        width: 5rem;
        height: 5rem;
    }

    .testimonial-img img {
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        object-position: 50% 0%;
    }
    
    .testimonial cite {
        margin-block: 1rem;
        font-size: .925rem;
        line-height: 2;
    }

    .testimonial h3 {
        margin: 0;
        margin-block-start: auto;
        padding-inline-start: calc(var(--padding) - .75rem);
        color: hsl(var(--important));
        font-size: 1.25rem;
        filter: brightness(150%);
    }

    .testimonial h3 i {
        font-size: .875rem;
        color: hsl(var(--white));
    }

    .testimonial h4 {
        margin: 0;
        font-size: .9rem;
        color: hsl(0 0% 60%);
        padding-inline-start: calc(var(--padding) - .5rem);
        font-style: italic;
        font-weight: 400;
    }

    .testimonial i {
        margin-inline-start: auto;
        font-size: calc(var(--height) * 2);
    }

    #Affiliates {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
        gap: 1rem;
        justify-items: center;
    }

    .box {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: hsl(var(--main-dark));
        border-radius: .25rem;
        position: relative;
    }

    .box:is(:hover, :focus-visible), .box a:is(:hover, :focus-visible) {
        opacity: .9;
        outline: 2px solid hsl(var(--important));
        outline-offset: 2px;
    }

    .box a {
        position: absolute;
        inset: 0;
        border-radius: .25rem;
    }

    .box .box-img {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(var(--white));
        margin: .25rem;
    }

    .box img {
        width: 75px;
        aspect-ratio: 1;
        object-fit: contain;
        padding: .25rem;
        border-radius: .25rem;
    }

    .box p {
        margin: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    .zoom-125 {
        zoom: 125%;
    }

    .zoom-150 {
        zoom: 150%;
    }

    .single-component {
        max-width: 1000px;
        margin-inline: auto;
    }

</style>

